<div class="hero-unit">
  <h1>Twitter My MVC</h1>
  <p>Use this app to search twitter.</p>
  <p>@Html.ActionLink("Start", "Search", "Twitter", null, new { @class = "btn btn-primary btn-large" })</p>
</div>
